html { height: 100% }
body { height: 100%; margin: 0; padding: 0;}

#map { height: 100% }

#abstract {
	color: #ffffff;
	font-style: italic;
	font-size: 13px;
	padding: 10px;
	text-indent: 0px;
}

#url {
    position: fixed;
    bottom: 0px;
    width: 240px;
    padding: 5px;
    margin: 5px;
    border: 1px dashed #777;
    border-radius: 5px;
    color: #ccc;
    word-wrap: break-word;
}